[submodule "repos/Eng1n33r/unleashed-firmware"]
	path = repos/Eng1n33r/unleashed-firmware
	url = https://github.com/DarkFlippers/unleashed-firmware
[submodule "repos/UberGuidoZ/Flipper"]
	path = repos/UberGuidoZ/Flipper
	url = https://github.com/UberGuidoZ/Flipper
[submodule "repos/justcallmekoko/ESP32Marauder"]
	path = repos/justcallmekoko/ESP32Marauder
	url = https://github.com/justcallmekoko/ESP32Marauder.git
[submodule "repos/espressif/esptool"]
	path = repos/espressif/esptool
	url = https://github.com/espressif/esptool.git
[submodule "repos/UberGuidoZ/Marauder_BINs"]
	path = repos/UberGuidoZ/Marauder_BINs
	url = https://github.com/UberGuidoZ/Marauder_BINs.git
[submodule "repos/FalsePhilosopher/badusb"]
	path = repos/FalsePhilosopher/badusb
	url = https://github.com/FalsePhilosopher/badusb
[submodule "repos/Ganapati/FlipFrid"]
	path = repos/Ganapati/FlipFrid
	url = https://github.com/Ganapati/FlipFrid
[submodule "repos/Flipper-IRDB"]
	path = repos/Flipper-IRDB
	url = https://github.com/logickworkshop/Flipper-IRDB
[submodule "repos/RocketGod-git/Flipper_Zero"]
	path = repos/RocketGod-git/Flipper_Zero
	url = https://github.com/RocketGod-git/Flipper_Zero
[submodule "repos/SkeletonMan03/FZEasyMarauderFlash"]
	path = repos/SkeletonMan03/FZEasyMarauderFlash
	url = https://github.com/SkeletonMan03/FZEasyMarauderFlash
[submodule "repos/Lucstay11/Brute-force-garage-and-hack-rf"]
	path = repos/Lucstay11/Brute-force-garage-and-hack-rf
	url = https://github.com/Lucstay11/Brute-force-garage-and-hack-rf
[submodule "repos/s0u7f1r3/unleashed-firmware"]
	path = repos/s0u7f1r3/unleashed-firmware
	url = git@github.com:s0u7f1r3/unleashed-firmware.git
